<div class="login container">
  <div class="row">
    <div class="col">
      <div class="login__circulo">
        <i class="login__circulo-icono fas fa-user"></i>
      </div>
      <form
        class="login__formulario"
        [formGroup]="formularioLogin"
        (ngSubmit)="iniciarSesion()"
      >
        <div class="login__correo-container d-flex align-items-center mb-2">
          <input
            formControlName="email"
            class="login__correo"
            type="email"
            placeholder="Correo electrónico"
          />
          <i class="login__input-ico fas fa-envelope-square"></i>
        </div>
        <span *ngIf="errorEmail" class="login__error"
          >Por favor ingrese un correo válido</span
        >

        <div class="login__password-container mb-2">
          <input
            formControlName="password"
            class="login__password"
            type="password"
            placeholder="Contraseña"
          />
          <i class="login__input-ico fas fa-lock"></i>
        </div>
        <span *ngIf="errorPassword" class="login__error"
          >Por favor ingrese una contraseña válido</span
        >
        <button *ngIf="!loading" class="login__btn" type="submit">Ingresar</button>
        <button *ngIf="loading" class="login__btn" type="button" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
        <hr class="login__hr" />
        <a class="login__recuperar">¿Has olvidado contraseña?</a>
      </form>
    </div>
  </div>
</div>

